
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Productive Educational Management</h1>
    </div>
    <div>
        @Html.ActionLink("Paralelos","Create","Seccion")
    </div>
</body>
</html>
