html {
    /*height: 100%;*/
}

body {
    /*height: 100%;*/
    /*margin: 0px;*/
    /*padding:0px;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6D7384;
}

#contenedor {
    background-color: #D3E8F5;
    /*margin: 1em;*/
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #59627B;
}

#fila_superior_1 {
    height: 5em;
    /*background-color: #F6E5C7;*/
}

#fila_superior_2 {
    height: 3em;
}

/*.contenedor2 {
    margin-left: 2em;
}*/

.contenedor_boton {
    /*margin-right: 2em;*/
    text-align: right;
}
