html {
    /*height: 100%;*/
}

body {
    /*height: 100%;*/
    /*margin: 0px;*/
    /*padding:0px;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6D7384;
}

#contenedor {
    /*background-color: #D3E8F5;*/
    background-color: #0FC6EA;
    /*margin: 1em;*/
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*color: #59627B;*/
    color: #FFFFFF;
}

#fila_superior_1 {
    height: 5em;
    /*background-color: #F6E5C7;*/
}

#fila_superior_2 {
    height: 3em;
}

/*.contenedor2 {
    margin-left: 2em;
}*/

/*.contenedor_boton {
    text-align: right;
}*/

#successMessage {
    text-align: center;
}

#errorMessage {
    text-align: center;
}

#SaveButton {
    width: 100%;
    font-weight: bold;
}

div[class^='col-'] {
    border: 5px solid white;
}

.LabelNombreSeccion {
    /*color: #0FC6EA;*/
    color: #7D8E9C;
    font-weight: bold;
    font-size:x-large;
}

.TxtNombreSeccion {
    font-size: large;
}

#CancelButton {
    color: #7D8E9C;
    font-weight: bold;
}

#ReturnButton {
    color: #7D8E9C;
    font-weight: bold;
}
